@import "../../variables";
.profileContainer {
  width: 30%;

  .avatar {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
  }

  .name {
    margin: 16px 0;
    h1 {
      color: var(--color-profile);
      font-size: 24px;
      margin: 0;
    }
    h3 {
      margin: 0;
      color: var(--color-muted);
      font-size: 20px;
      font-weight: 400;
    }
  }

  .following {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
    color: var(--color-muted);

    .count {
      color: var(--color-profile);
      font-weight: 600;
    }
  }

  .profileLinkContainer {
    .profileLink {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      color: var(--color-profile);
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: $size-medium) {
    width: 100%;
    display: flex;
    gap: 20px;

    .avatar {
      width: 122px;
      height: 122px;
    }
  }

  @media screen and (max-width: $size-small) {
    .avatar {
      width: 80px;
      height: 80px;
      align-self: center;
    }
  }
}
